<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
	<th:block layout:fragment="title">
		<title>회원가입</title>
	</th:block>
	

	<th:block layout:fragment="content">
		<div class="wrapper">
			<form th:action="@{/user/join.do}" th:object="${join}" method="post">
		        <!-- <div th:replace="form_errors :: formErrorsFragment"></div> -->
		        <div class="mb-3">
		            <label for="id" class="form-label">사용자ID</label>
		            <input type="text" th:field="*{id}" class="form-control" id="duplicate-id">
		            <span class="id_input_re_1">사용 가능한 아이디입니다.</span>
					<span class="id_input_re_2">아이디가 이미 존재합니다.</span>
		        </div>
		        <div class="mb-3">
		            <label for="name" class="form-label">이름</label>
		            <input type="text" th:field="*{name}" class="form-control">
		        </div>
		        <div class="mb-3">
		            <label for="authority_type" class="form-label">권한타입</label>
		            <input type="text" th:field="*{authorityType}" class="form-control">
		        </div>
		        <div class="mb-3">
		            <label for="nickname" class="form-label">닉네임</label>
		            <input type="text" th:field="*{nickname}" class="form-control" id="duplicate-nickname">
		            <span class="nickname_input_re_1">사용 가능한 닉네임입니다.</span>
					<span class="nickname_input_re_2">닉네임이 이미 존재합니다.</span>
		        </div>
		        <div class="mb-3">
		            <label for="email" class="form-label">이메일</label>
		            <input type="email" th:field="*{email}" class="form-control" id="email-auth">
		        </div>
		        <div class="mail_check_wrap">
					<div class="mail_check_input_box" id="mail_check_input_box_false">
						<input class="mail_check_input" disabled="disabled">
					</div>
					<div class="mail_check_button">
						<button type="button" class="btn btn-primary">인증번호 전송</button>
					</div>
					<div class="clearfix"></div>
					<span id="mail_check_input_box_warn"></span>
				</div>
		        <div class="mb-3">
		            <label for="password" class="form-label">비밀번호</label>
		            <input type="password" th:field="*{password}" class="form-control">
		        </div>
		        <!-- <div class="mb-3">
		            <label for="password" class="form-label">비밀번호 확인</label>
		            <input type="password" th:field="*{password2}" class="form-control">
		        </div> -->
		        <div class="mb-3">
		            <label for="password_question_code" class="form-label">비밀번호찾기질문</label>
		            <input type="text" th:field="*{passwordQuestionCode}" class="form-control">
		        </div>
		        <div class="mb-3">
		            <label for="password_question_Answer" class="form-label">비밀번호찾기답</label>
		            <input type="text" th:field="*{passwordQuestionAnswer}" class="form-control">
		        </div>
		        <!-- 가입일은 sysdate로 받는걸로 쿼리를 작성해서 입력 받을 필요가 없다. -->
		        <!-- <div class="mb-3">
		            <label for="signup_date" class="form-label">가입일</label>
		            <input type="text" th:field="*{signupDate}" class="form-control">
		        </div> -->
		        <div class="mb-3">
		            <label for="valid_member" class="form-label">유효한회원</label>
		            <input type="text" th:field="*{validMember}" class="form-control">
		        </div>
		        <button type="submit" class="btn btn-primary">회원가입</button>
		    </form>
		<!-- <form id="join_form" method="post">
		<div class="wrap">
				<div class="subjecet">
					<span>회원가입</span>
				</div>
				<div class="id_wrap">
					<div class="id_name">아이디</div>
					<div class="id_input_box">
						<input class="id_input" name="id">
					</div>
				</div>
				<div class="user_wrap">
					<div class="user_name">이름</div>
					<div class="user_input_box">
						<input class="user_input" name="name">
					</div>
				</div>
				<div class="authorityType_wrap">
					<div class="authorityType_name">권한유형</div>
					<div class="authorityType_input_box">
						<input class="authorityType_input" name="authorityType">
					</div>
				</div>
				<div class="nickname_wrap">
					<div class="nickname_name">닉네임</div>
					<div class="nickname_input_box">
						<input class="nickname_input" name="nickname">
					</div>
				</div>
				<div class="pw_wrap">
					<div class="pw_name">비밀번호</div>
					<div class="pw_input_box">
						<input class="pw_input" name="password">
					</div>
				</div>
				<div class="pwck_wrap">
					<div class="pwck_name">비밀번호 확인</div>
					<div class="pwck_input_box">
						<input class="pwck_input">
					</div>
				</div>
				
				<div class="mail_wrap">
					<div class="mail_name">이메일</div> 
					<div class="mail_input_box">
						<input class="mail_input" name="email">
					</div>
					<div class="mail_check_wrap">
						<div class="mail_check_input_box">
							<input class="mail_check_input">
						</div>
						<div class="mail_check_button">
							<span>인증번호 전송</span>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				
				<div class="passwordQuestionCode_wrap">
					<div class="passwordQuestionCode_name">비밀번호찾기질문</div>
					<div class="passwordQuestionCode_input_box">
						<input class="passwordQuestionCode_input" name="passwordQuestionCode">
					</div>
				</div>
				<div class="passwordQuestionAnswer_wrap">
					<div class="passwordQuestionAnswer_name">비밀번호찾기질문답</div>
					<div class="passwordQuestionAnswer_input_box">
						<input class="passwordQuestionAnswer_input" name="passwordQuestionAnswer">
					</div>
				</div>
				<div class="signupDate_wrap">
					<div class="signupDate_name">가입날짜</div>
					<div class="signupDate_input_box">
						<input class="signupDate_input" name="signupDate">
					</div>
				</div>
				<div class="validMember_wrap">
					<div class="validMember_name">유효한회원</div>
					<div class="validMember_input_box">
						<input class="validMember_input" name="validMember">
					</div>
				</div>
				<div class="join_button_wrap">
					<input type="button" class="join_button" value="가입하기">
				</div>
			</div>
		</form> -->
		</div>
	</th:block>	
	<th:block layout:fragment="script">
		<script th:inline="javascript">
	
			var code = "";                //이메일전송 인증번호 저장위한 코드
		
			$(document).ready(function(){
				//회원가입 버튼(회원가입 기능 작동)
				$(".join_button").click(function(){
					$("#join_form").attr("action", "/user/join");
					$("#join_form").submit();
				});
			});
			
			// 아이디 중복검사
			// input에 변화가 감지되면 함수 호출 
			$('#duplicate-id').on("propertychange change keyup paste input", function(){

				//console.log("keyup 테스트");
				var id = $('#duplicate-id').val();			// .id_input에 입력되는 값
				var data = {id : id}				// '컨트롤에 넘길 데이터 이름' : '데이터(.id_input에 입력되는 값)'
				
				$.ajax({
					type : "post",
					url : "/user/userIdChk",
					data : data,
					success : function(result){
						 //console.log("성공 여부" + result);
						 if(result != 'fail'){
								$('.id_input_re_1').css("display","inline-block");
								$('.id_input_re_2').css("display", "none");				
							} else {
								$('.id_input_re_2').css("display","inline-block");
								$('.id_input_re_1').css("display", "none");				
							}
					}// success 종료
				}); // ajax 종료
				
				
			});// function 종료
			// 닉네임 중복검사
			// input에 변화가 감지되면 함수 호출 
			$('#duplicate-nickname').on("propertychange change keyup paste input", function(){

				//console.log("keyup 테스트");
				var nickname = $('#duplicate-nickname').val();	// .id_input에 입력되는 값
				var data = {nickname : nickname}			// '컨트롤에 넘길 데이터 이름' : '데이터(.id_input에 입력되는 값)'
				
				$.ajax({
					type : "post",
					url : "/user/userNicknameChk",
					data : data,
					success : function(result){
						 //console.log("성공 여부" + result);
						 if(result != 'fail'){
								$('.nickname_input_re_1').css("display","inline-block");
								$('.nickname_input_re_2').css("display", "none");				
							} else {
								$('.nickname_input_re_2').css("display","inline-block");
								$('.nickname_input_re_1').css("display", "none");				
							}
					}// success 종료
				}); // ajax 종료
				
				
			});// function 종료
			
			/* 인증번호 이메일 전송 */
			$(".mail_check_button").click(function(){
				var email = $("#email-auth").val();        // 입력한 이메일
				var checkBox = $(".mail_check_input");        // 인증번호 입력란
			    var boxWrap = $(".mail_check_input_box"); 
				
				$.ajax({
			        type:"GET",
			        url:"mailCheck?email=" + email,
			        success:function(data){
			        	
			        	console.log("data : " + data);
			        	checkBox.attr("disabled",false);
			        	boxWrap.attr("id", "mail_check_input_box_true");
			        	code = data;
			        }       
			    });
			});

			/* 인증번호 비교 */
			$(".mail_check_input").blur(function(){                  //포커스를 잃었을 대 실행
				 var inputCode = $(".mail_check_input").val();        // 입력코드    
				 var checkResult = $("#mail_check_input_box_warn");    // 비교 결과
				 
				 if(inputCode == code){                            // 일치할 경우
				        checkResult.html("인증번호가 일치합니다.");
				        checkResult.attr("class", "correct");        
			     } else {                                            // 일치하지 않을 경우
			        checkResult.html("인증번호를 다시 확인해주세요.");
			        checkResult.attr("class", "incorrect");
			     }    
			    
			});
			 
		</script>
	</th:block>
