<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Kakao Maps</title>
</head>
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<body>
	<div id="map" style="width:500px;height:400px;"></div>
	
	<p>
    	<button onclick="setCenter()">지도 중심좌표 이동시키기</button> 
    	<button onclick="panTo()">지도 중심좌표 부드럽게 이동시키기</button> 
	</p>
	<p>
    	<button onclick="zoomIn()">지도레벨 - 1</button>
    	<button onclick="zoomOut()">지도레벨 + 1</button>
    	<span id="maplevel"></span>
	</p>
	<p>
		<button onclick="turnOffTrafficInfo()">교통정보 끄기</button>
		<button onclick="turnOnTrafficInfo()">교통정보 켜기</button>
	</p>
	<p id="result"></p>
	<div id="clickLatlng"></div>
</body>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8342abea7f0e15b6a6509a2411a4c29f"></script>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=APIKEY&libraries=LIBRARY"></script>
	<!-- services와 clusterer, drawing 라이브러리 불러오기 -->
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=APIKEY&libraries=services,clusterer,drawing"></script>
	<script src="/js/map/kakaoMaps.js"></script>
</html>